---
# Kustomize configuration for label propagation
nameReference:
- kind: ConfigMap
  version: v1
  fieldSpecs:
  - path: spec/volumes/configMap/name
    kind: Pod

- kind: Secret
  version: v1
  fieldSpecs:
  - path: spec/volumes/secret/secretName
    kind: Pod

- kind: Service
  version: v1
  fieldSpecs:
  - path: spec/serviceName
    kind: StatefulSet

- kind: ServiceAccount
  version: v1
  fieldSpecs:
  - path: spec/serviceAccountName
    kind: Pod

