---
apiVersion: v1
kind: ConfigMap
metadata:
  name: guardrails-config
  labels:
    app.kubernetes.io/component: guardrails
    app.kubernetes.io/managed-by: gitops
data:
  config.yaml: |
    openai:
      service:
        hostname: llamastack.private-ai-demo.svc
        port: 8321
    detectors:
      regex:
        type: text_contents
        service:
          hostname: 127.0.0.1
          port: 8080
        chunker_id: whole_doc_chunker
        default_threshold: 0.5
      hf_toxicity:
        type: text_contents
        service:
          hostname: guardrails-hf-toxicity
          port: 8000
        chunker_id: whole_doc_chunker
        default_threshold: 0.5
        detector_params:
          detector_id: hap



