apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # v3 tasks (production: multi-task pipeline with isolated memory per task)
  - task-download-model-v2.yaml
  - task-build-push-v2.yaml
  - task-mirror-to-internal.yaml
  - task-register-model.yaml
  
  # Testing & deployment tasks (separate pipeline)
  - task-run-guidellm.yaml
  - task-run-lm-eval.yaml
  - task-publish-test-results.yaml
  - task-deploy-vllm.yaml

commonLabels:
  argocd.argoproj.io/instance: stage01-model-serving
  app.kubernetes.io/instance: stage01-pipelines
  app.kubernetes.io/managed-by: argocd

