apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: private-ai-demo

resources:
  - namespace.yaml
  - limit-range.yaml
  - resource-quota.yaml
  - serviceaccount.yaml
  - role-model-registry-access.yaml

