---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: private-ai-demo

resources:
  - task-guidellm-benchmark.yaml
  - task-upload-guidellm-results.yaml
  - pipeline-guidellm-benchmark.yaml

labels:
  - includeSelectors: false
    pairs:
      app.kubernetes.io/part-of: evaluation
      app.kubernetes.io/component: benchmarking
      managed-by: argocd

