apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: openshift-machine-api

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/instance: stage00-gpu-infrastructure
      app.kubernetes.io/part-of: stage00-ai-platform

resources:
- machineset-cluster-gmgrr-j2lhd-gpu-g6-4xlarge-us-east-2c.yaml
- machineset-cluster-gmgrr-j2lhd-gpu-g6-12xlarge-us-east-2c.yaml
- nodefeaturediscovery.yaml
- clusterpolicy.yaml

