apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - 00-serviceaccounts
  - 00-namespace-resources
  - 01-tasks
  - 02-pipeline

commonLabels:
  argocd.argoproj.io/instance: stage01-model-serving
  app.kubernetes.io/part-of: private-ai-demo
  app.kubernetes.io/managed-by: argocd

